<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shmashine.socket.dal.dao.DockingFloorDao">


    <!--获取楼层停靠人流量统计-->
    <select id="peopleFlowStatistics" resultType="com.shmashine.socket.dal.dto.PeopleFlowStatisticsDO">
        SELECT DATE_FORMAT(trigger_time, '%Y-%m-%d 00:00:00') AS triggerDate,
               floor,
               direction,
               SUM(throughput)                                AS throughput
        FROM people_flow_statistics_message FORCE INDEX (tirgger_time_idx)
        WHERE trigger_time &gt;= #{startDate}
          AND elevator_code =#{elevatorCode}
          AND throughput
            > 0
          AND DATE_FORMAT(trigger_time
            , '%H:%i:%s') &gt;= #{startTime}
          AND DATE_FORMAT(trigger_time
            , '%H:%i:%s')
         &lt; #{endTime}
        GROUP BY floor, DATE_FORMAT(trigger_time, '%Y-%m-%d')
    </select>


</mapper>