<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shmashine.socket.dal.dao.HolidayDao">


    <!--根据日期查询节假日信息-->
    <select id="getByDate" resultType="com.shmashine.socket.dal.dto.HolidayDO">
        SELECT * FROM holidays
        <where>
            holiday = 1
            <if test="startDate != null">
                and date &gt;= #{startDate}
            </if>
            <if test="endDate != null">
                and date &lt;= #{endDate}
            </if>
        </where>
    </select>

    <!--批量添加-->
    <insert id="insertBatch">
        insert into holidays
        (id, holiday, type, name, date)
        values
        <foreach item="item" collection="holidays" separator="," open="" close="" index="index">
            (#{item.id},#{item.holiday},#{item.type},#{item.name},#{item.date})
        </foreach>
    </insert>

</mapper>