<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shmashine.api.dao.TblCameraDownloadTaskMapper">

    <sql id="TABLE_NAME">
        tbl_camera_download_task
    </sql>
    <sql id="BASE_COLUMNS">
        elevator_code
        , task_type, task_custom_id, media_type, camera_type, cloud_number, task_custom_type, collect_time, start_time,
        end_time, floor, file_status, cloud_task_id
    </sql>
    <sql id="ALL_COLUMNS">
        <include refid="BASE_COLUMNS"/>,
        id, request_failed_count, upload_failed_count, return_code, err_message, source_url, oss_url, extend_info,
        create_time, modify_time
    </sql>
    <sql id="SET_COLUMNS">
        <if test="entity.mediaType != null and entity.mediaType != ''">media_type = #{entity.mediaType},</if>
        <if test="entity.cameraType != null">camera_type = #{entity.cameraType},</if>
        <if test="entity.cloudNumber != null and entity.cloudNumber != ''">cloud_number = #{entity.cloudNumber},</if>
        <if test="entity.taskCustomType != null">task_custom_type = #{entity.taskCustomType},</if>
        <if test="entity.collectTime != null and entity.collectTime != ''">collect_time = #{entity.collectTime},</if>
        <if test="entity.startTime != null and entity.startTime != ''">start_time = #{entity.startTime},</if>
        <if test="entity.endTime != null and entity.endTime != ''">end_time = #{entity.endTime},</if>
        <if test="entity.floor != null and entity.floor != ''">floor = #{entity.floor},</if>
        <if test="entity.fileStatus != null">file_status = #{entity.fileStatus},</if>
        <if test="entity.cloudTaskId != null and entity.cloudTaskId != ''">cloud_task_id = #{entity.cloudTaskId},</if>
        <if test="entity.requestFailedCount != null">request_failed_count = #{entity.requestFailedCount},</if>
        <if test="entity.uploadFailedCount != null">upload_failed_count = #{entity.uploadFailedCount},</if>
        <if test="entity.returnCode != null">return_code = #{entity.returnCode},</if>
        <if test="entity.errMessage != null and entity.errMessage != ''">err_message = #{entity.errMessage},</if>
        <if test="entity.sourceUrl != null and entity.sourceUrl != ''">source_url = #{entity.sourceUrl},</if>
        <if test="entity.ossUrl != null and entity.ossUrl != ''">oss_url = #{entity.ossUrl},</if>
        <if test="entity.extendInfo != null and entity.extendInfo != ''">extend_info = #{entity.extendInfo},</if>
    </sql>

    <!-- 查询 -->

    <select id="getById" resultType="com.shmashine.common.entity.TblCameraDownloadTaskEntity">
        SELECT
        <include refid="ALL_COLUMNS"/>
        FROM
        <include refid="TABLE_NAME"/>
        WHERE id = #{id}
    </select>

    <select id="findByElevatorCodeAndTaskType" resultType="com.shmashine.common.entity.TblCameraDownloadTaskEntity">
        SELECT
        <include refid="ALL_COLUMNS"/>
        FROM
        <include refid="TABLE_NAME"/>
        WHERE elevator_code = #{elevatorCode}
        AND task_type = #{taskType}
        AND file_status = 1
        AND create_time >= DATE_SUB(CURDATE(), INTERVAL 7 DAY)
    </select>

    <select id="findByEntity" resultType="com.shmashine.common.entity.TblCameraDownloadTaskEntity">
        SELECT
        <include refid="ALL_COLUMNS"/>
        FROM
        <include refid="TABLE_NAME"/>
        <where>
            <if test="entity.id != null">
                AND id = #{entity.id}
            </if>
            <if test="entity.elevatorCode != null and entity.elevatorCode != ''">
                AND elevator_code = #{entity.elevatorCode}
            </if>
            <if test="entity.taskType != null">
                AND task_type = #{entity.taskType}
            </if>
            <if test="entity.taskCustomId != null and entity.taskCustomId != ''">
                AND task_custom_id = #{entity.taskCustomId}
            </if>
            <if test="entity.mediaType != null and entity.mediaType != ''">
                AND media_type = #{entity.mediaType}
            </if>
            <if test="entity.cameraType != null">
                and camera_type = #{entity.cameraType}
            </if>
            <if test="entity.cloudNumber != null and entity.cloudNumber != ''">
                and cloud_number = #{entity.cloudNumber}
            </if>
            <if test="entity.taskCustomType != null">
                and task_custom_type = #{entity.taskCustomType}
            </if>
            <if test="entity.floor != null and entity.floor != ''">
                and floor = #{entity.floor}
            </if>
            <if test="entity.fileStatus != null">
                and file_status = #{entity.fileStatus}
            </if>
        </where>
    </select>

</mapper>