<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shmashine.api.dao.TblSysUserAliyunDao">

    <resultMap type="com.shmashine.common.entity.TblSysUserAliyun" id="TblSysUserAliyunResultMap">
        <result property="vUserAliyunId" column="v_user_aliyun_id" jdbcType="VARCHAR"/>
        <result property="vUserId" column="v_user_id" jdbcType="VARCHAR"/>
        <result property="vUserName" column="v_user_name" jdbcType="VARCHAR"/>
        <result property="vAliyunUserName" column="v_aliyun_user_name" jdbcType="VARCHAR"/>
        <result property="vAliyunPassword" column="v_aliyun_password" jdbcType="VARCHAR"/>
        <result property="vAccessKeyId" column="v_access_key_id" jdbcType="VARCHAR"/>
        <result property="vAccessKeySecret" column="v_access_key_secret" jdbcType="VARCHAR"/>
        <result property="vInstanceId" column="v_instance_id" jdbcType="VARCHAR"/>
        <result property="vOauthClientId" column="v_oauth_client_id" jdbcType="VARCHAR"/>
        <result property="vOauthClientSecret" column="v_oauth_client_secret" jdbcType="VARCHAR"/>
        <result property="vAccessToken" column="v_access_token" jdbcType="VARCHAR"/>
        <result property="vRefreshToken" column="v_refresh_token" jdbcType="VARCHAR"/>
        <result property="dtCreateTime" column="dt_create_time" jdbcType="TIMESTAMP"/>
        <result property="dtModifyTime" column="dt_modify_time" jdbcType="TIMESTAMP"/>
        <result property="vCreateId" column="v_create_id" jdbcType="VARCHAR"/>
        <result property="vModifyId" column="v_modify_id" jdbcType="VARCHAR"/>
        <result property="iDelFlag" column="i_del_flag" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="table_field">
        v_user_aliyun_id
        , v_user_id, v_user_name, v_aliyun_user_name, v_aliyun_password, v_access_key_id, v_access_key_secret, v_instance_id, v_oauth_client_id, v_oauth_client_secret, v_access_token, v_refresh_token, dt_create_time, dt_modify_time, v_create_id, v_modify_id, i_del_flag
    </sql>

    <!--通过Id查询单个-->
    <select id="getById" resultMap="TblSysUserAliyunResultMap" parameterType="java.lang.String">
        select
        <include refid="table_field"/>
        from tbl_sys_user_aliyun
        where v_user_aliyun_id = #{vUserAliyunId,jdbcType=VARCHAR}
    </select>


    <!--通过实体不为空的属性作为筛选条件查询列表-->
    <select id="listByEntity" resultMap="TblSysUserAliyunResultMap"
            parameterType="com.shmashine.common.entity.TblSysUserAliyun">
        select
        <include refid="table_field"/>
        from tbl_sys_user_aliyun
        <where>
            <if test="vUserAliyunId != null">
                and v_user_aliyun_id = #{vUserAliyunId,jdbcType=VARCHAR}
            </if>
            <if test="vUserId != null">
                and v_user_id = #{vUserId,jdbcType=VARCHAR}
            </if>
            <if test="vUserName != null">
                and v_user_name = #{vUserName,jdbcType=VARCHAR}
            </if>
            <if test="vAliyunUserName != null">
                and v_aliyun_user_name = #{vAliyunUserName,jdbcType=VARCHAR}
            </if>
            <if test="vAliyunPassword != null">
                and v_aliyun_password = #{vAliyunPassword,jdbcType=VARCHAR}
            </if>
            <if test="vAccessKeyId != null">
                and v_access_key_id = #{vAccessKeyId,jdbcType=VARCHAR}
            </if>
            <if test="vAccessKeySecret != null">
                and v_access_key_secret = #{vAccessKeySecret,jdbcType=VARCHAR}
            </if>
            <if test="vInstanceId != null">
                and v_instance_id = #{vInstanceId,jdbcType=VARCHAR}
            </if>
            <if test="vOauthClientId != null">
                and v_oauth_client_id = #{vOauthClientId,jdbcType=VARCHAR}
            </if>
            <if test="vOauthClientSecret != null">
                and v_oauth_client_secret = #{vOauthClientSecret,jdbcType=VARCHAR}
            </if>
            <if test="vAccessToken != null">
                and v_access_token = #{vAccessToken,jdbcType=VARCHAR}
            </if>
            <if test="vRefreshToken != null">
                and v_refresh_token = #{vRefreshToken,jdbcType=VARCHAR}
            </if>
            <if test="dtCreateTime != null">
                and dt_create_time = #{dtCreateTime,jdbcType=TIMESTAMP}
            </if>
            <if test="dtModifyTime != null">
                and dt_modify_time = #{dtModifyTime,jdbcType=TIMESTAMP}
            </if>
            <if test="vCreateId != null">
                and v_create_id = #{vCreateId,jdbcType=VARCHAR}
            </if>
            <if test="vModifyId != null">
                and v_modify_id = #{vModifyId,jdbcType=VARCHAR}
            </if>
            <if test="iDelFlag != null">
                and i_del_flag = #{iDelFlag,jdbcType=INTEGER}
            </if>
        </where>
    </select>

    <!--通过实体不为空的属性作为筛选条件查询单个-->
    <select id="getByEntity" resultMap="TblSysUserAliyunResultMap"
            parameterType="com.shmashine.common.entity.TblSysUserAliyun">
        select
        <include refid="table_field"/>
        from tbl_sys_user_aliyun
        <where>
            <if test="vUserAliyunId != null">
                and v_user_aliyun_id = #{vUserAliyunId,jdbcType=VARCHAR}
            </if>
            <if test="vUserId != null">
                and v_user_id = #{vUserId,jdbcType=VARCHAR}
            </if>
            <if test="vUserName != null">
                and v_user_name = #{vUserName,jdbcType=VARCHAR}
            </if>
            <if test="vAliyunUserName != null">
                and v_aliyun_user_name = #{vAliyunUserName,jdbcType=VARCHAR}
            </if>
            <if test="vAliyunPassword != null">
                and v_aliyun_password = #{vAliyunPassword,jdbcType=VARCHAR}
            </if>
            <if test="vAccessKeyId != null">
                and v_access_key_id = #{vAccessKeyId,jdbcType=VARCHAR}
            </if>
            <if test="vAccessKeySecret != null">
                and v_access_key_secret = #{vAccessKeySecret,jdbcType=VARCHAR}
            </if>
            <if test="vInstanceId != null">
                and v_instance_id = #{vInstanceId,jdbcType=VARCHAR}
            </if>
            <if test="vOauthClientId != null">
                and v_oauth_client_id = #{vOauthClientId,jdbcType=VARCHAR}
            </if>
            <if test="vOauthClientSecret != null">
                and v_oauth_client_secret = #{vOauthClientSecret,jdbcType=VARCHAR}
            </if>
            <if test="vAccessToken != null">
                and v_access_token = #{vAccessToken,jdbcType=VARCHAR}
            </if>
            <if test="vRefreshToken != null">
                and v_refresh_token = #{vRefreshToken,jdbcType=VARCHAR}
            </if>
            <if test="dtCreateTime != null">
                and dt_create_time = #{dtCreateTime,jdbcType=TIMESTAMP}
            </if>
            <if test="dtModifyTime != null">
                and dt_modify_time = #{dtModifyTime,jdbcType=TIMESTAMP}
            </if>
            <if test="vCreateId != null">
                and v_create_id = #{vCreateId,jdbcType=VARCHAR}
            </if>
            <if test="vModifyId != null">
                and v_modify_id = #{vModifyId,jdbcType=VARCHAR}
            </if>
            <if test="iDelFlag != null">
                and i_del_flag = #{iDelFlag,jdbcType=INTEGER}
            </if>
        </where>
    </select>

    <!--通过Id列表作为筛选条件查询列表，列表长度不为0-->
    <select id="listByIds" resultMap="TblSysUserAliyunResultMap" parameterType="list">
        select
        <include refid="table_field"/>
        from tbl_sys_user_aliyun
        where v_user_aliyun_id in
        <foreach item="item" collection="list" separator="," open="(" close=")" index="index">
            #{item}
        </foreach>
    </select>

    <!--新增实体属性不为null的列-->
    <insert id="insert" keyProperty="vUserAliyunId" useGeneratedKeys="true"
            parameterType="com.shmashine.common.entity.TblSysUserAliyun">
        insert into tbl_sys_user_aliyun
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="vUserAliyunId != null">
                v_user_aliyun_id,
            </if>
            <if test="vUserId != null">
                v_user_id,
            </if>
            <if test="vUserName != null">
                v_user_name,
            </if>
            <if test="vAliyunUserName != null">
                v_aliyun_user_name,
            </if>
            <if test="vAliyunPassword != null">
                v_aliyun_password,
            </if>
            <if test="vAccessKeyId != null">
                v_access_key_id,
            </if>
            <if test="vAccessKeySecret != null">
                v_access_key_secret,
            </if>
            <if test="vInstanceId != null">
                v_instance_id,
            </if>
            <if test="vOauthClientId != null">
                v_oauth_client_id,
            </if>
            <if test="vOauthClientSecret != null">
                v_oauth_client_secret,
            </if>
            <if test="vAccessToken != null">
                v_access_token,
            </if>
            <if test="vRefreshToken != null">
                v_refresh_token,
            </if>
            <if test="dtCreateTime != null">
                dt_create_time,
            </if>
            <if test="dtModifyTime != null">
                dt_modify_time,
            </if>
            <if test="vCreateId != null">
                v_create_id,
            </if>
            <if test="vModifyId != null">
                v_modify_id,
            </if>
            <if test="iDelFlag != null">
                i_del_flag,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="vUserAliyunId != null">
                #{vUserAliyunId,jdbcType=VARCHAR},
            </if>
            <if test="vUserId != null">
                #{vUserId,jdbcType=VARCHAR},
            </if>
            <if test="vUserName != null">
                #{vUserName,jdbcType=VARCHAR},
            </if>
            <if test="vAliyunUserName != null">
                #{vAliyunUserName,jdbcType=VARCHAR},
            </if>
            <if test="vAliyunPassword != null">
                #{vAliyunPassword,jdbcType=VARCHAR},
            </if>
            <if test="vAccessKeyId != null">
                #{vAccessKeyId,jdbcType=VARCHAR},
            </if>
            <if test="vAccessKeySecret != null">
                #{vAccessKeySecret,jdbcType=VARCHAR},
            </if>
            <if test="vInstanceId != null">
                #{vInstanceId,jdbcType=VARCHAR},
            </if>
            <if test="vOauthClientId != null">
                #{vOauthClientId,jdbcType=VARCHAR},
            </if>
            <if test="vOauthClientSecret != null">
                #{vOauthClientSecret,jdbcType=VARCHAR},
            </if>
            <if test="vAccessToken != null">
                #{vAccessToken,jdbcType=VARCHAR},
            </if>
            <if test="vRefreshToken != null">
                #{vRefreshToken,jdbcType=VARCHAR},
            </if>
            <if test="dtCreateTime != null">
                #{dtCreateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="dtModifyTime != null">
                #{dtModifyTime,jdbcType=TIMESTAMP},
            </if>
            <if test="vCreateId != null">
                #{vCreateId,jdbcType=VARCHAR},
            </if>
            <if test="vModifyId != null">
                #{vModifyId,jdbcType=VARCHAR},
            </if>
            <if test="iDelFlag != null">
                #{iDelFlag,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>

    <!--批量新增所有列，列表长度不能为0-->
    <insert id="insertBatch" keyProperty="vUserAliyunId" useGeneratedKeys="true" parameterType="list">
        insert into tbl_sys_user_aliyun
        (v_user_aliyun_id,v_user_id, v_user_name, v_aliyun_user_name, v_aliyun_password, v_access_key_id,
        v_access_key_secret, v_instance_id, v_oauth_client_id, v_oauth_client_secret, v_access_token, v_refresh_token,
        dt_create_time, dt_modify_time, v_create_id, v_modify_id, i_del_flag)
        values
        <foreach item="item" collection="list" separator="," open="" close="" index="index">
            (#{vUserAliyunId,jdbcType=VARCHAR},#{item.vUserId,jdbcType=VARCHAR}, #{item.vUserName,jdbcType=VARCHAR},
            #{item.vAliyunUserName,jdbcType=VARCHAR}, #{item.vAliyunPassword,jdbcType=VARCHAR},
            #{item.vAccessKeyId,jdbcType=VARCHAR}, #{item.vAccessKeySecret,jdbcType=VARCHAR},
            #{item.vInstanceId,jdbcType=VARCHAR}, #{item.vOauthClientId,jdbcType=VARCHAR},
            #{item.vOauthClientSecret,jdbcType=VARCHAR}, #{item.vAccessToken,jdbcType=VARCHAR},
            #{item.vRefreshToken,jdbcType=VARCHAR}, #{item.dtCreateTime,jdbcType=TIMESTAMP},
            #{item.dtModifyTime,jdbcType=TIMESTAMP}, #{item.vCreateId,jdbcType=VARCHAR},
            #{item.vModifyId,jdbcType=VARCHAR}, #{item.iDelFlag,jdbcType=INTEGER})
        </foreach>
    </insert>

    <!--通过主键修改实体属性不为null的列-->
    <update id="update" parameterType="com.shmashine.common.entity.TblSysUserAliyun">
        update tbl_sys_user_aliyun
        <set>
            <if test="vUserId != null and vUserId != ''">
                v_user_id = #{vUserId,jdbcType=VARCHAR},
            </if>
            <if test="vUserName != null and vUserName != ''">
                v_user_name = #{vUserName,jdbcType=VARCHAR},
            </if>
            <if test="vAliyunUserName != null and vAliyunUserName != ''">
                v_aliyun_user_name = #{vAliyunUserName,jdbcType=VARCHAR},
            </if>
            <if test="vAliyunPassword != null and vAliyunPassword != ''">
                v_aliyun_password = #{vAliyunPassword,jdbcType=VARCHAR},
            </if>
            <if test="vAccessKeyId != null and vAccessKeyId != ''">
                v_access_key_id = #{vAccessKeyId,jdbcType=VARCHAR},
            </if>
            <if test="vAccessKeySecret != null and vAccessKeySecret != ''">
                v_access_key_secret = #{vAccessKeySecret,jdbcType=VARCHAR},
            </if>
            <if test="vInstanceId != null and vInstanceId != ''">
                v_instance_id = #{vInstanceId,jdbcType=VARCHAR},
            </if>
            <if test="vOauthClientId != null and vOauthClientId != ''">
                v_oauth_client_id = #{vOauthClientId,jdbcType=VARCHAR},
            </if>
            <if test="vOauthClientSecret != null and vOauthClientSecret != ''">
                v_oauth_client_secret = #{vOauthClientSecret,jdbcType=VARCHAR},
            </if>
            <if test="vAccessToken != null and vAccessToken != ''">
                v_access_token = #{vAccessToken,jdbcType=VARCHAR},
            </if>
            <if test="vRefreshToken != null and vRefreshToken != ''">
                v_refresh_token = #{vRefreshToken,jdbcType=VARCHAR},
            </if>
            <if test="dtCreateTime != null">
                dt_create_time = #{dtCreateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="dtModifyTime != null">
                dt_modify_time = #{dtModifyTime,jdbcType=TIMESTAMP},
            </if>
            <if test="vCreateId != null and vCreateId != ''">
                v_create_id = #{vCreateId,jdbcType=VARCHAR},
            </if>
            <if test="vModifyId != null and vModifyId != ''">
                v_modify_id = #{vModifyId,jdbcType=VARCHAR},
            </if>
            <if test="iDelFlag != null">
                i_del_flag = #{iDelFlag,jdbcType=INTEGER},
            </if>
        </set>
        where v_user_aliyun_id = #{vUserAliyunId,jdbcType=VARCHAR}
    </update>

    <!--通过表字段修改实体属性不为null的列-->
    <update id="updateByField">
        update tbl_sys_user_aliyun
        <set>
            <if test="where.vUserId == null and set.vUserId != null and set.vUserId != ''">
                v_user_id = #{set.vUserId,jdbcType=VARCHAR},
            </if>
            <if test="where.vUserName == null and set.vUserName != null and set.vUserName != ''">
                v_user_name = #{set.vUserName,jdbcType=VARCHAR},
            </if>
            <if test="where.vAliyunUserName == null and set.vAliyunUserName != null and set.vAliyunUserName != ''">
                v_aliyun_user_name = #{set.vAliyunUserName,jdbcType=VARCHAR},
            </if>
            <if test="where.vAliyunPassword == null and set.vAliyunPassword != null and set.vAliyunPassword != ''">
                v_aliyun_password = #{set.vAliyunPassword,jdbcType=VARCHAR},
            </if>
            <if test="where.vAccessKeyId == null and set.vAccessKeyId != null and set.vAccessKeyId != ''">
                v_access_key_id = #{set.vAccessKeyId,jdbcType=VARCHAR},
            </if>
            <if test="where.vAccessKeySecret == null and set.vAccessKeySecret != null and set.vAccessKeySecret != ''">
                v_access_key_secret = #{set.vAccessKeySecret,jdbcType=VARCHAR},
            </if>
            <if test="where.vInstanceId == null and set.vInstanceId != null and set.vInstanceId != ''">
                v_instance_id = #{set.vInstanceId,jdbcType=VARCHAR},
            </if>
            <if test="where.vOauthClientId == null and set.vOauthClientId != null and set.vOauthClientId != ''">
                v_oauth_client_id = #{set.vOauthClientId,jdbcType=VARCHAR},
            </if>
            <if test="where.vOauthClientSecret == null and set.vOauthClientSecret != null and set.vOauthClientSecret != ''">
                v_oauth_client_secret = #{set.vOauthClientSecret,jdbcType=VARCHAR},
            </if>
            <if test="where.vAccessToken == null and set.vAccessToken != null and set.vAccessToken != ''">
                v_access_token = #{set.vAccessToken,jdbcType=VARCHAR},
            </if>
            <if test="where.vRefreshToken == null and set.vRefreshToken != null and set.vRefreshToken != ''">
                v_refresh_token = #{set.vRefreshToken,jdbcType=VARCHAR},
            </if>
            <if test="where.dtCreateTime == null and set.dtCreateTime != null">
                dt_create_time = #{set.dtCreateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="where.dtModifyTime == null and set.dtModifyTime != null">
                dt_modify_time = #{set.dtModifyTime,jdbcType=TIMESTAMP},
            </if>
            <if test="where.vCreateId == null and set.vCreateId != null and set.vCreateId != ''">
                v_create_id = #{set.vCreateId,jdbcType=VARCHAR},
            </if>
            <if test="where.vModifyId == null and set.vModifyId != null and set.vModifyId != ''">
                v_modify_id = #{set.vModifyId,jdbcType=VARCHAR},
            </if>
            <if test="where.iDelFlag == null and set.iDelFlag != null">
                i_del_flag = #{set.iDelFlag,jdbcType=INTEGER},
            </if>
        </set>
        <where>
            <if test="where.vUserAliyunId != null">
                and v_user_aliyun_id = #{where.vUserAliyunId,jdbcType=VARCHAR}
            </if>
            <if test="where.vUserId != null">
                and v_user_id = #{where.vUserId,jdbcType=VARCHAR}
            </if>
            <if test="where.vUserName != null">
                and v_user_name = #{where.vUserName,jdbcType=VARCHAR}
            </if>
            <if test="where.vAliyunUserName != null">
                and v_aliyun_user_name = #{where.vAliyunUserName,jdbcType=VARCHAR}
            </if>
            <if test="where.vAliyunPassword != null">
                and v_aliyun_password = #{where.vAliyunPassword,jdbcType=VARCHAR}
            </if>
            <if test="where.vAccessKeyId != null">
                and v_access_key_id = #{where.vAccessKeyId,jdbcType=VARCHAR}
            </if>
            <if test="where.vAccessKeySecret != null">
                and v_access_key_secret = #{where.vAccessKeySecret,jdbcType=VARCHAR}
            </if>
            <if test="where.vInstanceId != null">
                and v_instance_id = #{where.vInstanceId,jdbcType=VARCHAR}
            </if>
            <if test="where.vOauthClientId != null">
                and v_oauth_client_id = #{where.vOauthClientId,jdbcType=VARCHAR}
            </if>
            <if test="where.vOauthClientSecret != null">
                and v_oauth_client_secret = #{where.vOauthClientSecret,jdbcType=VARCHAR}
            </if>
            <if test="where.vAccessToken != null">
                and v_access_token = #{where.vAccessToken,jdbcType=VARCHAR}
            </if>
            <if test="where.vRefreshToken != null">
                and v_refresh_token = #{where.vRefreshToken,jdbcType=VARCHAR}
            </if>
            <if test="where.dtCreateTime != null">
                and dt_create_time = #{where.dtCreateTime,jdbcType=TIMESTAMP}
            </if>
            <if test="where.dtModifyTime != null">
                and dt_modify_time = #{where.dtModifyTime,jdbcType=TIMESTAMP}
            </if>
            <if test="where.vCreateId != null">
                and v_create_id = #{where.vCreateId,jdbcType=VARCHAR}
            </if>
            <if test="where.vModifyId != null">
                and v_modify_id = #{where.vModifyId,jdbcType=VARCHAR}
            </if>
            <if test="where.iDelFlag != null">
                and i_del_flag = #{where.iDelFlag,jdbcType=INTEGER}
            </if>
        </where>
    </update>

    <!--通过主键修改实体列表，列表长度不能为0，注意：当实体属性为null时，对应的列也会别更新为null-->
    <update id="updateBatch" parameterType="list">
        update tbl_sys_user_aliyun
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="v_user_id = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when v_user_aliyun_id = #{item.vUserAliyunId} then #{item.vUserId}
                </foreach>
            </trim>
            <trim prefix="v_user_name = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when v_user_aliyun_id = #{item.vUserAliyunId} then #{item.vUserName}
                </foreach>
            </trim>
            <trim prefix="v_aliyun_user_name = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when v_user_aliyun_id = #{item.vUserAliyunId} then #{item.vAliyunUserName}
                </foreach>
            </trim>
            <trim prefix="v_aliyun_password = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when v_user_aliyun_id = #{item.vUserAliyunId} then #{item.vAliyunPassword}
                </foreach>
            </trim>
            <trim prefix="v_access_key_id = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when v_user_aliyun_id = #{item.vUserAliyunId} then #{item.vAccessKeyId}
                </foreach>
            </trim>
            <trim prefix="v_access_key_secret = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when v_user_aliyun_id = #{item.vUserAliyunId} then #{item.vAccessKeySecret}
                </foreach>
            </trim>
            <trim prefix="v_instance_id = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when v_user_aliyun_id = #{item.vUserAliyunId} then #{item.vInstanceId}
                </foreach>
            </trim>
            <trim prefix="v_oauth_client_id = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when v_user_aliyun_id = #{item.vUserAliyunId} then #{item.vOauthClientId}
                </foreach>
            </trim>
            <trim prefix="v_oauth_client_secret = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when v_user_aliyun_id = #{item.vUserAliyunId} then #{item.vOauthClientSecret}
                </foreach>
            </trim>
            <trim prefix="v_access_token = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when v_user_aliyun_id = #{item.vUserAliyunId} then #{item.vAccessToken}
                </foreach>
            </trim>
            <trim prefix="v_refresh_token = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when v_user_aliyun_id = #{item.vUserAliyunId} then #{item.vRefreshToken}
                </foreach>
            </trim>
            <trim prefix="dt_create_time = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when v_user_aliyun_id = #{item.vUserAliyunId} then #{item.dtCreateTime}
                </foreach>
            </trim>
            <trim prefix="dt_modify_time = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when v_user_aliyun_id = #{item.vUserAliyunId} then #{item.dtModifyTime}
                </foreach>
            </trim>
            <trim prefix="v_create_id = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when v_user_aliyun_id = #{item.vUserAliyunId} then #{item.vCreateId}
                </foreach>
            </trim>
            <trim prefix="v_modify_id = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when v_user_aliyun_id = #{item.vUserAliyunId} then #{item.vModifyId}
                </foreach>
            </trim>
            <trim prefix="i_del_flag = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when v_user_aliyun_id = #{item.vUserAliyunId} then #{item.iDelFlag}
                </foreach>
            </trim>
        </trim>
        where v_user_aliyun_id in
        <foreach collection="list" index="index" item="item" separator="," open="(" close=")">
            #{item.vUserAliyunId,jdbcType=VARCHAR}
        </foreach>
    </update>

    <!--通过主键删除-->
    <delete id="deleteById" parameterType="java.lang.String">
        delete
        from tbl_sys_user_aliyun
        where v_user_aliyun_id = #{vUserAliyunId,jdbcType=VARCHAR}
    </delete>

    <!--通过实体非空属性删除-->
    <delete id="deleteByEntity" parameterType="com.shmashine.common.entity.TblSysUserAliyun">
        delete from tbl_sys_user_aliyun
        <where>
            <if test="vUserId != null">
                and v_user_id = #{vUserId,jdbcType=VARCHAR}
            </if>
            <if test="vUserName != null">
                and v_user_name = #{vUserName,jdbcType=VARCHAR}
            </if>
            <if test="vAliyunUserName != null">
                and v_aliyun_user_name = #{vAliyunUserName,jdbcType=VARCHAR}
            </if>
            <if test="vAliyunPassword != null">
                and v_aliyun_password = #{vAliyunPassword,jdbcType=VARCHAR}
            </if>
            <if test="vAccessKeyId != null">
                and v_access_key_id = #{vAccessKeyId,jdbcType=VARCHAR}
            </if>
            <if test="vAccessKeySecret != null">
                and v_access_key_secret = #{vAccessKeySecret,jdbcType=VARCHAR}
            </if>
            <if test="vInstanceId != null">
                and v_instance_id = #{vInstanceId,jdbcType=VARCHAR}
            </if>
            <if test="vOauthClientId != null">
                and v_oauth_client_id = #{vOauthClientId,jdbcType=VARCHAR}
            </if>
            <if test="vOauthClientSecret != null">
                and v_oauth_client_secret = #{vOauthClientSecret,jdbcType=VARCHAR}
            </if>
            <if test="vAccessToken != null">
                and v_access_token = #{vAccessToken,jdbcType=VARCHAR}
            </if>
            <if test="vRefreshToken != null">
                and v_refresh_token = #{vRefreshToken,jdbcType=VARCHAR}
            </if>
            <if test="dtCreateTime != null">
                and dt_create_time = #{dtCreateTime,jdbcType=TIMESTAMP}
            </if>
            <if test="dtModifyTime != null">
                and dt_modify_time = #{dtModifyTime,jdbcType=TIMESTAMP}
            </if>
            <if test="vCreateId != null">
                and v_create_id = #{vCreateId,jdbcType=VARCHAR}
            </if>
            <if test="vModifyId != null">
                and v_modify_id = #{vModifyId,jdbcType=VARCHAR}
            </if>
            <if test="iDelFlag != null">
                and i_del_flag = #{iDelFlag,jdbcType=INTEGER}
            </if>
        </where>
    </delete>

    <!--通过主键列表删除，列表长度不能为0-->
    <delete id="deleteByIds" parameterType="list">
        delete from tbl_sys_user_aliyun where v_user_aliyun_id in
        <foreach item="item" collection="list" separator="," open="(" close=")" index="index">
            #{item}
        </foreach>
    </delete>

    <select id="countAll" resultType="int">
        select count(v_user_aliyun_id)
        from tbl_sys_user_aliyun
    </select>

    <select id="countByEntity" parameterType="com.shmashine.common.entity.TblSysUserAliyun" resultType="int">
        select count(v_user_aliyun_id) from tbl_sys_user_aliyun
        <where>
            <if test="vUserAliyunId != null">
                and v_user_aliyun_id = #{vUserAliyunId,jdbcType=VARCHAR}
            </if>
            <if test="vUserId != null">
                and v_user_id = #{vUserId,jdbcType=VARCHAR}
            </if>
            <if test="vUserName != null">
                and v_user_name = #{vUserName,jdbcType=VARCHAR}
            </if>
            <if test="vAliyunUserName != null">
                and v_aliyun_user_name = #{vAliyunUserName,jdbcType=VARCHAR}
            </if>
            <if test="vAliyunPassword != null">
                and v_aliyun_password = #{vAliyunPassword,jdbcType=VARCHAR}
            </if>
            <if test="vAccessKeyId != null">
                and v_access_key_id = #{vAccessKeyId,jdbcType=VARCHAR}
            </if>
            <if test="vAccessKeySecret != null">
                and v_access_key_secret = #{vAccessKeySecret,jdbcType=VARCHAR}
            </if>
            <if test="vInstanceId != null">
                and v_instance_id = #{vInstanceId,jdbcType=VARCHAR}
            </if>
            <if test="vOauthClientId != null">
                and v_oauth_client_id = #{vOauthClientId,jdbcType=VARCHAR}
            </if>
            <if test="vOauthClientSecret != null">
                and v_oauth_client_secret = #{vOauthClientSecret,jdbcType=VARCHAR}
            </if>
            <if test="vAccessToken != null">
                and v_access_token = #{vAccessToken,jdbcType=VARCHAR}
            </if>
            <if test="vRefreshToken != null">
                and v_refresh_token = #{vRefreshToken,jdbcType=VARCHAR}
            </if>
            <if test="dtCreateTime != null">
                and dt_create_time = #{dtCreateTime,jdbcType=TIMESTAMP}
            </if>
            <if test="dtModifyTime != null">
                and dt_modify_time = #{dtModifyTime,jdbcType=TIMESTAMP}
            </if>
            <if test="vCreateId != null">
                and v_create_id = #{vCreateId,jdbcType=VARCHAR}
            </if>
            <if test="vModifyId != null">
                and v_modify_id = #{vModifyId,jdbcType=VARCHAR}
            </if>
            <if test="iDelFlag != null">
                and i_del_flag = #{iDelFlag,jdbcType=INTEGER}
            </if>
        </where>
    </select>

    <select id="getByUserName" resultType="com.shmashine.common.entity.TblSysUserAliyun">
        select *
        from tbl_sys_user_aliyun
        where v_user_id = #{userName}
    </select>

</mapper>