<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shmashine.api.dao.TblSysDeptLogoDao">

    <resultMap type="com.shmashine.common.entity.TblSysDeptLogo" id="TblSysDeptLogoResultMap">
        <result property="vLogoId" column="v_logo_id" jdbcType="VARCHAR"/>
        <result property="vDeptId" column="v_dept_id" jdbcType="VARCHAR"/>
        <result property="vSystemTitle" column="v_system_title" jdbcType="VARCHAR"/>
        <result property="vRemark" column="v_remark" jdbcType="VARCHAR"/>
        <result property="vServerUrl" column="v_server_url" jdbcType="VARCHAR"/>
        <result property="dtCreateTime" column="dt_create_time" jdbcType="TIMESTAMP"/>
        <result property="dtModifyTime" column="dt_modify_time" jdbcType="TIMESTAMP"/>
        <result property="vCreateUserId" column="v_create_user_id" jdbcType="VARCHAR"/>
        <result property="vModifyUserId" column="v_modify_user_id" jdbcType="VARCHAR"/>
        <result property="vLogFileUrl" column="v_log_file_url" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="table_field">
        v_logo_id
        , v_dept_id, v_system_title, v_remark, v_server_url, dt_create_time, dt_modify_time, v_create_user_id, v_modify_user_id, v_log_file_url
    </sql>

    <!--通过Id查询单个-->
    <select id="getById" resultMap="TblSysDeptLogoResultMap" parameterType="java.lang.String">
        select
        <include refid="table_field"/>
        from tbl_sys_dept_logo
        where v_logo_id = #{vLogoId,jdbcType=VARCHAR}
    </select>


    <!--通过实体不为空的属性作为筛选条件查询列表-->
    <select id="listByEntity" resultMap="TblSysDeptLogoResultMap"
            parameterType="com.shmashine.common.entity.TblSysDeptLogo">
        select
        <include refid="table_field"/>
        from tbl_sys_dept_logo
        <where>
            <if test="vLogoId != null">
                and v_logo_id = #{vLogoId,jdbcType=VARCHAR}
            </if>
            <if test="vDeptId != null">
                and v_dept_id = #{vDeptId,jdbcType=VARCHAR}
            </if>
            <if test="vSystemTitle != null">
                and v_system_title = #{vSystemTitle,jdbcType=VARCHAR}
            </if>
            <if test="vRemark != null">
                and v_remark = #{vRemark,jdbcType=VARCHAR}
            </if>
            <if test="vServerUrl != null">
                and v_server_url = #{vServerUrl,jdbcType=VARCHAR}
            </if>
            <if test="dtCreateTime != null">
                and dt_create_time = #{dtCreateTime,jdbcType=TIMESTAMP}
            </if>
            <if test="dtModifyTime != null">
                and dt_modify_time = #{dtModifyTime,jdbcType=TIMESTAMP}
            </if>
            <if test="vCreateUserId != null">
                and v_create_user_id = #{vCreateUserId,jdbcType=VARCHAR}
            </if>
            <if test="vModifyUserId != null">
                and v_modify_user_id = #{vModifyUserId,jdbcType=VARCHAR}
            </if>
            <if test="vLogFileUrl != null">
                and v_log_file_url = #{vLogFileUrl,jdbcType=VARCHAR}
            </if>
        </where>
    </select>

    <!--通过实体不为空的属性作为筛选条件查询单个-->
    <select id="getByEntity" resultMap="TblSysDeptLogoResultMap"
            parameterType="com.shmashine.common.entity.TblSysDeptLogo">
        select
        <include refid="table_field"/>
        from tbl_sys_dept_logo
        <where>
            <if test="vLogoId != null">
                and v_logo_id = #{vLogoId,jdbcType=VARCHAR}
            </if>
            <if test="vDeptId != null">
                and v_dept_id = #{vDeptId,jdbcType=VARCHAR}
            </if>
            <if test="vSystemTitle != null">
                and v_system_title = #{vSystemTitle,jdbcType=VARCHAR}
            </if>
            <if test="vRemark != null">
                and v_remark = #{vRemark,jdbcType=VARCHAR}
            </if>
            <if test="vServerUrl != null">
                and v_server_url = #{vServerUrl,jdbcType=VARCHAR}
            </if>
            <if test="dtCreateTime != null">
                and dt_create_time = #{dtCreateTime,jdbcType=TIMESTAMP}
            </if>
            <if test="dtModifyTime != null">
                and dt_modify_time = #{dtModifyTime,jdbcType=TIMESTAMP}
            </if>
            <if test="vCreateUserId != null">
                and v_create_user_id = #{vCreateUserId,jdbcType=VARCHAR}
            </if>
            <if test="vModifyUserId != null">
                and v_modify_user_id = #{vModifyUserId,jdbcType=VARCHAR}
            </if>
            <if test="vLogFileUrl != null">
                and v_log_file_url = #{vLogFileUrl,jdbcType=VARCHAR}
            </if>
        </where>
    </select>

    <!--通过Id列表作为筛选条件查询列表，列表长度不为0-->
    <select id="listByIds" resultMap="TblSysDeptLogoResultMap" parameterType="list">
        select
        <include refid="table_field"/>
        from tbl_sys_dept_logo
        where v_logo_id in
        <foreach item="item" collection="list" separator="," open="(" close=")" index="index">
            #{item}
        </foreach>
    </select>

    <!--新增实体属性不为null的列-->
    <insert id="insert" keyProperty="vLogoId" useGeneratedKeys="true"
            parameterType="com.shmashine.common.entity.TblSysDeptLogo">
        insert into tbl_sys_dept_logo
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="vLogoId != null">
                v_logo_id,
            </if>
            <if test="vDeptId != null">
                v_dept_id,
            </if>
            <if test="vSystemTitle != null">
                v_system_title,
            </if>
            <if test="vRemark != null">
                v_remark,
            </if>
            <if test="vServerUrl != null">
                v_server_url,
            </if>
            <if test="dtCreateTime != null">
                dt_create_time,
            </if>
            <if test="dtModifyTime != null">
                dt_modify_time,
            </if>
            <if test="vCreateUserId != null">
                v_create_user_id,
            </if>
            <if test="vModifyUserId != null">
                v_modify_user_id,
            </if>
            <if test="vLogFileUrl != null">
                v_log_file_url,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="vLogoId != null">
                #{vLogoId,jdbcType=VARCHAR},
            </if>
            <if test="vDeptId != null">
                #{vDeptId,jdbcType=VARCHAR},
            </if>
            <if test="vSystemTitle != null">
                #{vSystemTitle,jdbcType=VARCHAR},
            </if>
            <if test="vRemark != null">
                #{vRemark,jdbcType=VARCHAR},
            </if>
            <if test="vServerUrl != null">
                #{vServerUrl,jdbcType=VARCHAR},
            </if>
            <if test="dtCreateTime != null">
                #{dtCreateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="dtModifyTime != null">
                #{dtModifyTime,jdbcType=TIMESTAMP},
            </if>
            <if test="vCreateUserId != null">
                #{vCreateUserId,jdbcType=VARCHAR},
            </if>
            <if test="vModifyUserId != null">
                #{vModifyUserId,jdbcType=VARCHAR},
            </if>
            <if test="vLogFileUrl != null">
                #{vLogFileUrl,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <!--批量新增所有列，列表长度不能为0-->
    <insert id="insertBatch" keyProperty="vLogoId" useGeneratedKeys="true" parameterType="list">
        insert into tbl_sys_dept_logo
        ( v_logo_id , v_dept_id ,v_system_title, v_remark, v_server_url, dt_create_time, dt_modify_time,
        v_create_user_id, v_modify_user_id, v_log_file_url)
        values
        <foreach item="item" collection="list" separator="," open="" close="" index="index">
            (#{item.vLogoId,jdbcType=VARCHAR}, #{item.vDeptId,jdbcType=VARCHAR},#{item.vSystemTitle,jdbcType=VARCHAR},
            #{item.vRemark,jdbcType=VARCHAR}, #{item.vServerUrl,jdbcType=VARCHAR},
            #{item.dtCreateTime,jdbcType=TIMESTAMP}, #{item.dtModifyTime,jdbcType=TIMESTAMP},
            #{item.vCreateUserId,jdbcType=VARCHAR}, #{item.vModifyUserId,jdbcType=VARCHAR},
            #{item.vLogFileUrl,jdbcType=VARCHAR})
        </foreach>
    </insert>

    <!--通过主键修改实体属性不为null的列-->
    <update id="update" parameterType="com.shmashine.common.entity.TblSysDeptLogo">
        update tbl_sys_dept_logo
        <set>
            <if test="vSystemTitle != null and vSystemTitle != ''">
                v_system_title = #{vSystemTitle,jdbcType=VARCHAR},
            </if>
            <if test="vRemark != null and vRemark != ''">
                v_remark = #{vRemark,jdbcType=VARCHAR},
            </if>
            <if test="vServerUrl != null and vServerUrl != ''">
                v_server_url = #{vServerUrl,jdbcType=VARCHAR},
            </if>
            <if test="dtCreateTime != null">
                dt_create_time = #{dtCreateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="dtModifyTime != null">
                dt_modify_time = #{dtModifyTime,jdbcType=TIMESTAMP},
            </if>
            <if test="vCreateUserId != null and vCreateUserId != ''">
                v_create_user_id = #{vCreateUserId,jdbcType=VARCHAR},
            </if>
            <if test="vModifyUserId != null and vModifyUserId != ''">
                v_modify_user_id = #{vModifyUserId,jdbcType=VARCHAR},
            </if>
            <if test="vLogFileUrl != null and vLogFileUrl != ''">
                v_log_file_url = #{vLogFileUrl,jdbcType=VARCHAR},
            </if>
        </set>
        where v_logo_id = #{vLogoId,jdbcType=VARCHAR}
    </update>

    <!--通过表字段修改实体属性不为null的列-->
    <update id="updateByField">
        update tbl_sys_dept_logo
        <set>
            <if test="where.vSystemTitle == null and set.vSystemTitle != null and set.vSystemTitle != ''">
                v_system_title = #{set.vSystemTitle,jdbcType=VARCHAR},
            </if>
            <if test="where.vRemark == null and set.vRemark != null and set.vRemark != ''">
                v_remark = #{set.vRemark,jdbcType=VARCHAR},
            </if>
            <if test="where.vServerUrl == null and set.vServerUrl != null and set.vServerUrl != ''">
                v_server_url = #{set.vServerUrl,jdbcType=VARCHAR},
            </if>
            <if test="where.dtCreateTime == null and set.dtCreateTime != null">
                dt_create_time = #{set.dtCreateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="where.dtModifyTime == null and set.dtModifyTime != null">
                dt_modify_time = #{set.dtModifyTime,jdbcType=TIMESTAMP},
            </if>
            <if test="where.vCreateUserId == null and set.vCreateUserId != null and set.vCreateUserId != ''">
                v_create_user_id = #{set.vCreateUserId,jdbcType=VARCHAR},
            </if>
            <if test="where.vModifyUserId == null and set.vModifyUserId != null and set.vModifyUserId != ''">
                v_modify_user_id = #{set.vModifyUserId,jdbcType=VARCHAR},
            </if>
            <if test="where.vLogFileUrl == null and set.vLogFileUrl != null and set.vLogFileUrl != ''">
                v_log_file_url = #{set.vLogFileUrl,jdbcType=VARCHAR},
            </if>
        </set>
        <where>
            <if test="where.vLogoId != null">
                and v_logo_id = #{where.vLogoId,jdbcType=VARCHAR}
            </if>
            <if test="where.vDeptId != null">
                and v_dept_id = #{where.vDeptId,jdbcType=VARCHAR}
            </if>
            <if test="where.vSystemTitle != null">
                and v_system_title = #{where.vSystemTitle,jdbcType=VARCHAR}
            </if>
            <if test="where.vRemark != null">
                and v_remark = #{where.vRemark,jdbcType=VARCHAR}
            </if>
            <if test="where.vServerUrl != null">
                and v_server_url = #{where.vServerUrl,jdbcType=VARCHAR}
            </if>
            <if test="where.dtCreateTime != null">
                and dt_create_time = #{where.dtCreateTime,jdbcType=TIMESTAMP}
            </if>
            <if test="where.dtModifyTime != null">
                and dt_modify_time = #{where.dtModifyTime,jdbcType=TIMESTAMP}
            </if>
            <if test="where.vCreateUserId != null">
                and v_create_user_id = #{where.vCreateUserId,jdbcType=VARCHAR}
            </if>
            <if test="where.vModifyUserId != null">
                and v_modify_user_id = #{where.vModifyUserId,jdbcType=VARCHAR}
            </if>
            <if test="where.vLogFileUrl != null">
                and v_log_file_url = #{where.vLogFileUrl,jdbcType=VARCHAR}
            </if>
        </where>
    </update>

    <!--通过主键修改实体列表，列表长度不能为0，注意：当实体属性为null时，对应的列也会别更新为null-->
    <update id="updateBatch" parameterType="list">
        update tbl_sys_dept_logo
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="v_system_title = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when v_logo_id = #{item.vLogoId} then #{item.vSystemTitle}
                </foreach>
            </trim>
            <trim prefix="v_remark = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when v_logo_id = #{item.vLogoId} then #{item.vRemark}
                </foreach>
            </trim>
            <trim prefix="v_server_url = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when v_logo_id = #{item.vLogoId} then #{item.vServerUrl}
                </foreach>
            </trim>
            <trim prefix="dt_create_time = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when v_logo_id = #{item.vLogoId} then #{item.dtCreateTime}
                </foreach>
            </trim>
            <trim prefix="dt_modify_time = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when v_logo_id = #{item.vLogoId} then #{item.dtModifyTime}
                </foreach>
            </trim>
            <trim prefix="v_create_user_id = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when v_logo_id = #{item.vLogoId} then #{item.vCreateUserId}
                </foreach>
            </trim>
            <trim prefix="v_modify_user_id = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when v_logo_id = #{item.vLogoId} then #{item.vModifyUserId}
                </foreach>
            </trim>
            <trim prefix="v_log_file_url = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when v_logo_id = #{item.vLogoId} then #{item.vLogFileUrl}
                </foreach>
            </trim>
        </trim>
        where v_logo_id in
        <foreach collection="list" index="index" item="item" separator="," open="(" close=")">
            #{item.vLogoId,jdbcType=VARCHAR}
        </foreach>
    </update>

    <!--通过主键删除-->
    <delete id="deleteById" parameterType="java.lang.String">
        delete
        from tbl_sys_dept_logo
        where v_logo_id = #{vLogoId,jdbcType=VARCHAR}
          and v_dept_id = #{vDeptId,jdbcType=VARCHAR}     </delete>

    <!--通过实体非空属性删除-->
    <delete id="deleteByEntity" parameterType="com.shmashine.common.entity.TblSysDeptLogo">
        delete from tbl_sys_dept_logo
        <where>
            <if test="vSystemTitle != null">
                and v_system_title = #{vSystemTitle,jdbcType=VARCHAR}
            </if>
            <if test="vRemark != null">
                and v_remark = #{vRemark,jdbcType=VARCHAR}
            </if>
            <if test="vServerUrl != null">
                and v_server_url = #{vServerUrl,jdbcType=VARCHAR}
            </if>
            <if test="dtCreateTime != null">
                and dt_create_time = #{dtCreateTime,jdbcType=TIMESTAMP}
            </if>
            <if test="dtModifyTime != null">
                and dt_modify_time = #{dtModifyTime,jdbcType=TIMESTAMP}
            </if>
            <if test="vCreateUserId != null">
                and v_create_user_id = #{vCreateUserId,jdbcType=VARCHAR}
            </if>
            <if test="vModifyUserId != null">
                and v_modify_user_id = #{vModifyUserId,jdbcType=VARCHAR}
            </if>
            <if test="vLogFileUrl != null">
                and v_log_file_url = #{vLogFileUrl,jdbcType=VARCHAR}
            </if>
        </where>
    </delete>

    <!--通过主键列表删除，列表长度不能为0-->
    <delete id="deleteByIds" parameterType="list">
        delete from tbl_sys_dept_logo where v_logo_id in
        <foreach item="item" collection="list" separator="," open="(" close=")" index="index">
            #{item}
        </foreach>
    </delete>

    <select id="countAll" resultType="int">
        select count(v_logo_id)
        from tbl_sys_dept_logo
    </select>

    <select id="countByEntity" parameterType="com.shmashine.common.entity.TblSysDeptLogo" resultType="int">
        select count(v_logo_id) from tbl_sys_dept_logo
        <where>
            <if test="vLogoId != null">
                and v_logo_id = #{vLogoId,jdbcType=VARCHAR}
            </if>
            <if test="vDeptId != null">
                and v_dept_id = #{vDeptId,jdbcType=VARCHAR}
            </if>
            <if test="vSystemTitle != null">
                and v_system_title = #{vSystemTitle,jdbcType=VARCHAR}
            </if>
            <if test="vRemark != null">
                and v_remark = #{vRemark,jdbcType=VARCHAR}
            </if>
            <if test="vServerUrl != null">
                and v_server_url = #{vServerUrl,jdbcType=VARCHAR}
            </if>
            <if test="dtCreateTime != null">
                and dt_create_time = #{dtCreateTime,jdbcType=TIMESTAMP}
            </if>
            <if test="dtModifyTime != null">
                and dt_modify_time = #{dtModifyTime,jdbcType=TIMESTAMP}
            </if>
            <if test="vCreateUserId != null">
                and v_create_user_id = #{vCreateUserId,jdbcType=VARCHAR}
            </if>
            <if test="vModifyUserId != null">
                and v_modify_user_id = #{vModifyUserId,jdbcType=VARCHAR}
            </if>
            <if test="vLogFileUrl != null">
                and v_log_file_url = #{vLogFileUrl,jdbcType=VARCHAR}
            </if>
        </where>
    </select>
</mapper>