<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shmashine.api.dao.TblSysUserRoleDao">

    <resultMap type="com.shmashine.common.entity.TblSysUserRole" id="TblSysUserRoleResultMap">
        <result property="vUserId" column="v_user_id" jdbcType="VARCHAR"/>
        <result property="vRoleId" column="v_role_id" jdbcType="VARCHAR"/>
        <result property="dtCreatetime" column="dt_createTime" jdbcType="TIMESTAMP"/>
        <result property="dtModifytime" column="dt_modifyTime" jdbcType="TIMESTAMP"/>
        <result property="vCreateid" column="v_createid" jdbcType="VARCHAR"/>
        <result property="vModifyid" column="v_modifyid" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="table_field">
        v_user_id
        , v_role_id, dt_createTime, dt_modifyTime, v_createid, v_modifyid
    </sql>

    <!--通过Id查询单个-->
    <select id="getById" resultMap="TblSysUserRoleResultMap" parameterType="java.lang.String">
        select
        <include refid="table_field"/>
        from tbl_sys_user_role
        where v_user_id = #{vUserId,jdbcType=VARCHAR}
    </select>


    <!--通过实体不为空的属性作为筛选条件查询列表-->
    <select id="listByEntity" resultMap="TblSysUserRoleResultMap"
            parameterType="com.shmashine.common.entity.TblSysUserRole">
        select
        <include refid="table_field"/>
        from tbl_sys_user_role
        <where>
            <if test="vUserId != null and vUserId != ''">
                and v_user_id = #{vUserId,jdbcType=VARCHAR}
            </if>
            <if test="vRoleId != null and vRoleId != ''">
                and v_role_id = #{vRoleId,jdbcType=VARCHAR}
            </if>
            <if test="dtCreatetime != null and dtCreatetime != ''">
                and dt_createTime = #{dtCreatetime,jdbcType=TIMESTAMP}
            </if>
            <if test="dtModifytime != null and dtModifytime != ''">
                and dt_modifyTime = #{dtModifytime,jdbcType=TIMESTAMP}
            </if>
            <if test="vCreateid != null and vCreateid != ''">
                and v_createid = #{vCreateid,jdbcType=VARCHAR}
            </if>
            <if test="vModifyid != null and vModifyid != ''">
                and v_modifyid = #{vModifyid,jdbcType=VARCHAR}
            </if>
        </where>
    </select>

    <!--通过实体不为空的属性作为筛选条件查询单个-->
    <select id="getByEntity" resultMap="TblSysUserRoleResultMap"
            parameterType="com.shmashine.common.entity.TblSysUserRole">
        select
        <include refid="table_field"/>
        from tbl_sys_user_role
        <where>
            <if test="vUserId != null and vUserId != ''">
                and v_user_id = #{vUserId,jdbcType=VARCHAR}
            </if>
            <if test="vRoleId != null and vRoleId != ''">
                and v_role_id = #{vRoleId,jdbcType=VARCHAR}
            </if>
            <if test="dtCreatetime != null and dtCreatetime != ''">
                and dt_createTime = #{dtCreatetime,jdbcType=TIMESTAMP}
            </if>
            <if test="dtModifytime != null and dtModifytime != ''">
                and dt_modifyTime = #{dtModifytime,jdbcType=TIMESTAMP}
            </if>
            <if test="vCreateid != null and vCreateid != ''">
                and v_createid = #{vCreateid,jdbcType=VARCHAR}
            </if>
            <if test="vModifyid != null and vModifyid != ''">
                and v_modifyid = #{vModifyid,jdbcType=VARCHAR}
            </if>
        </where>
    </select>

    <!--通过Id列表作为筛选条件查询列表，列表长度不为0-->
    <select id="listByIds" resultMap="TblSysUserRoleResultMap" parameterType="list">
        select
        <include refid="table_field"/>
        from tbl_sys_user_role
        where v_user_id in
        <foreach item="item" collection="list" separator="," open="(" close=")" index="index">
            #{item}
        </foreach>
    </select>

    <!--新增实体属性不为null的列-->
    <insert id="insert" keyProperty="vUserId" useGeneratedKeys="true"
            parameterType="com.shmashine.common.entity.TblSysUserRole">
        insert into tbl_sys_user_role
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="vUserId != null">
                v_user_id,
            </if>
            <if test="vRoleId != null">
                v_role_id,
            </if>
            <if test="dtCreatetime != null">
                dt_createTime,
            </if>
            <if test="dtModifytime != null">
                dt_modifyTime,
            </if>
            <if test="vCreateid != null">
                v_createid,
            </if>
            <if test="vModifyid != null">
                v_modifyid,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="vUserId != null">
                #{vUserId,jdbcType=VARCHAR},
            </if>
            <if test="vRoleId != null">
                #{vRoleId,jdbcType=VARCHAR},
            </if>
            <if test="dtCreatetime != null">
                #{dtCreatetime,jdbcType=TIMESTAMP},
            </if>
            <if test="dtModifytime != null">
                #{dtModifytime,jdbcType=TIMESTAMP},
            </if>
            <if test="vCreateid != null">
                #{vCreateid,jdbcType=VARCHAR},
            </if>
            <if test="vModifyid != null">
                #{vModifyid,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <!--批量新增所有列，列表长度不能为0，且列表id统一为null或者统一不为null-->
    <insert id="insertBatch" keyProperty="vUserId" useGeneratedKeys="true" parameterType="list">
        insert into tbl_sys_user_role
        (<if test="vUserId != null">v_user_id,</if>dt_createTime, dt_modifyTime, v_createid, v_modifyid)
        values
        <foreach item="item" collection="list" separator="," open="" close="" index="index">
            (<if test="vUserId != null">#{vUserId,jdbcType=VARCHAR},</if>#{dtCreatetime,jdbcType=TIMESTAMP},
            #{dtModifytime,jdbcType=TIMESTAMP}, #{vCreateid,jdbcType=VARCHAR}, #{vModifyid,jdbcType=VARCHAR})
        </foreach>
    </insert>

    <!--通过主键修改实体属性不为null的列-->
    <update id="update" parameterType="com.shmashine.common.entity.TblSysUserRole">
        update tbl_sys_user_role
        <set>
            <if test="dtCreatetime != null">
                dt_createTime = #{dtCreatetime,jdbcType=TIMESTAMP},
            </if>
            <if test="dtModifytime != null">
                dt_modifyTime = #{dtModifytime,jdbcType=TIMESTAMP},
            </if>
            <if test="vCreateid != null and vCreateid != ''">
                v_createid = #{vCreateid,jdbcType=VARCHAR},
            </if>
            <if test="vModifyid != null and vModifyid != ''">
                v_modifyid = #{vModifyid,jdbcType=VARCHAR},
            </if>
        </set>
        where v_user_id = #{vUserId,jdbcType=VARCHAR}
    </update>

    <!--通过表字段修改实体属性不为null的列-->
    <update id="updateByField">
        update tbl_sys_user_role
        <set>
            <if test="where.dtCreatetime == null and set.dtCreatetime != null">
                dt_createTime = #{set.dtCreatetime,jdbcType=TIMESTAMP},
            </if>
            <if test="where.dtModifytime == null and set.dtModifytime != null">
                dt_modifyTime = #{set.dtModifytime,jdbcType=TIMESTAMP},
            </if>
            <if test="where.vCreateid == null and set.vCreateid != null and set.vCreateid != ''">
                v_createid = #{set.vCreateid,jdbcType=VARCHAR},
            </if>
            <if test="where.vModifyid == null and set.vModifyid != null and set.vModifyid != ''">
                v_modifyid = #{set.vModifyid,jdbcType=VARCHAR},
            </if>
        </set>
        <where>
            <if test="where.vUserId != null">
                and v_user_id = #{where.vUserId,jdbcType=VARCHAR}
            </if>
            <if test="where.vRoleId != null">
                and v_role_id = #{where.vRoleId,jdbcType=VARCHAR}
            </if>
            <if test="where.dtCreatetime != null">
                and dt_createTime = #{where.dtCreatetime,jdbcType=TIMESTAMP}
            </if>
            <if test="where.dtModifytime != null">
                and dt_modifyTime = #{where.dtModifytime,jdbcType=TIMESTAMP}
            </if>
            <if test="where.vCreateid != null">
                and v_createid = #{where.vCreateid,jdbcType=VARCHAR}
            </if>
            <if test="where.vModifyid != null">
                and v_modifyid = #{where.vModifyid,jdbcType=VARCHAR}
            </if>
        </where>
    </update>

    <!--通过主键修改实体列表，列表长度不能为0，注意：当实体属性为null时，对应的列也会别更新为null-->
    <update id="updateBatch" parameterType="list">
        update tbl_sys_user_role
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="dt_createTime = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when v_user_id = #{item.vUserId} then #{item.dtCreatetime}
                </foreach>
            </trim>
            <trim prefix="dt_modifyTime = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when v_user_id = #{item.vUserId} then #{item.dtModifytime}
                </foreach>
            </trim>
            <trim prefix="v_createid = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when v_user_id = #{item.vUserId} then #{item.vCreateid}
                </foreach>
            </trim>
            <trim prefix="v_modifyid = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when v_user_id = #{item.vUserId} then #{item.vModifyid}
                </foreach>
            </trim>
        </trim>
        where v_user_id in
        <foreach collection="list" index="index" item="item" separator="," open="(" close=")">
            #{item.vUserId,jdbcType=VARCHAR}
        </foreach>
    </update>

    <!--通过主键删除-->
    <delete id="deleteById" parameterType="java.lang.String">
        delete
        from tbl_sys_user_role
        where v_user_id = #{vUserId,jdbcType=VARCHAR}
    </delete>

    <!--通过实体非空属性删除-->
    <delete id="deleteByEntity" parameterType="com.shmashine.common.entity.TblSysUserRole">
        delete from tbl_sys_user_role
        <where>
            <if test="dtCreatetime != null">
                and dt_createTime = #{dtCreatetime,jdbcType=TIMESTAMP}
            </if>
            <if test="dtModifytime != null">
                and dt_modifyTime = #{dtModifytime,jdbcType=TIMESTAMP}
            </if>
            <if test="vCreateid != null">
                and v_createid = #{vCreateid,jdbcType=VARCHAR}
            </if>
            <if test="vModifyid != null">
                and v_modifyid = #{vModifyid,jdbcType=VARCHAR}
            </if>
        </where>
    </delete>

    <!--通过主键列表删除，列表长度不能为0-->
    <delete id="deleteByIds" parameterType="list">
        delete from tbl_sys_user_role where v_user_id in
        <foreach item="item" collection="list" separator="," open="(" close=")" index="index">
            #{item}
        </foreach>
    </delete>

    <select id="countAll" resultType="int">
        select count(v_user_id)
        from tbl_sys_user_role
    </select>

    <select id="countByEntity" parameterType="com.shmashine.common.entity.TblSysUserRole" resultType="int">
        select count(v_user_id) from tbl_sys_user_role
        <where>
            <if test="vUserId != null">
                and v_user_id = #{vUserId,jdbcType=VARCHAR}
            </if>
            <if test="vRoleId != null">
                and v_role_id = #{vRoleId,jdbcType=VARCHAR}
            </if>
            <if test="dtCreatetime != null">
                and dt_createTime = #{dtCreatetime,jdbcType=TIMESTAMP}
            </if>
            <if test="dtModifytime != null">
                and dt_modifyTime = #{dtModifytime,jdbcType=TIMESTAMP}
            </if>
            <if test="vCreateid != null">
                and v_createid = #{vCreateid,jdbcType=VARCHAR}
            </if>
            <if test="vModifyid != null">
                and v_modifyid = #{vModifyid,jdbcType=VARCHAR}
            </if>
        </where>
    </select>
</mapper>