<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shmashine.api.dao.TblThirdPartyRuijinEnventDao">

    <resultMap type="com.shmashine.common.entity.TblThirdPartyRuijinEnvent" id="TblThirdPartyRuijinEnventResultMap">
        <result property="eventId" column="event_id" jdbcType="VARCHAR"/>
        <result property="eventNumber" column="event_number" jdbcType="VARCHAR"/>
        <result property="eventChannel" column="event_channel" jdbcType="VARCHAR"/>
        <result property="registerNumber" column="register_number" jdbcType="VARCHAR"/>
        <result property="occurTime" column="occur_time" jdbcType="OTHER"/>
        <result property="currentStatus" column="current_status" jdbcType="INTEGER"/>
        <result property="eventType" column="event_type" jdbcType="INTEGER"/>
        <result property="failureCode" column="failure_code" jdbcType="VARCHAR"/>
        <result property="eventDesc" column="event_desc" jdbcType="VARCHAR"/>
        <result property="reporter" column="reporter" jdbcType="VARCHAR"/>
        <result property="reporterTel" column="reporter_tel" jdbcType="VARCHAR"/>
        <result property="rescueNum" column="rescue_num" jdbcType="INTEGER"/>
        <result property="handler" column="handler" jdbcType="VARCHAR"/>
        <result property="handlerTel" column="handler_tel" jdbcType="VARCHAR"/>
        <result property="rescueCompanyName" column="rescue_company_name" jdbcType="VARCHAR"/>
        <result property="dtCreateTime" column="dt_create_time" jdbcType="TIMESTAMP"/>
        <result property="dtModifyTime" column="dt_modify_time" jdbcType="TIMESTAMP"/>
        <result property="vCreateUserId" column="v_create_user_id" jdbcType="VARCHAR"/>
        <result property="vModifyUserId" column="v_modify_user_id" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="table_field">
        event_id
        , event_number, event_channel, register_number, occur_time, current_status, event_type, failure_code, event_desc, reporter, reporter_tel, rescue_num, handler, handler_tel, rescue_company_name, dt_create_time, dt_modify_time, v_create_user_id, v_modify_user_id
    </sql>

    <!--通过Id查询单个-->
    <select id="getById" resultMap="TblThirdPartyRuijinEnventResultMap" parameterType="java.lang.String">
        select
        <include refid="table_field"/>
        from tbl_third_party_ruijin_envent
        where event_id = #{eventId,jdbcType=VARCHAR}
    </select>


    <!--通过实体不为空的属性作为筛选条件查询列表-->
    <select id="listByEntity" resultMap="TblThirdPartyRuijinEnventResultMap"
            parameterType="com.shmashine.common.entity.TblThirdPartyRuijinEnvent">
        select
        <include refid="table_field"/>
        from tbl_third_party_ruijin_envent
        <where>
            <if test="eventId != null">
                and event_id = #{eventId,jdbcType=VARCHAR}
            </if>
            <if test="eventNumber != null">
                and event_number = #{eventNumber,jdbcType=VARCHAR}
            </if>
            <if test="eventChannel != null">
                and event_channel = #{eventChannel,jdbcType=VARCHAR}
            </if>
            <if test="registerNumber != null">
                and register_number = #{registerNumber,jdbcType=VARCHAR}
            </if>
            <if test="occurTime != null">
                and occur_time = #{occurTime,jdbcType=OTHER}
            </if>
            <if test="currentStatus != null">
                and current_status = #{currentStatus,jdbcType=INTEGER}
            </if>
            <if test="eventType != null">
                and event_type = #{eventType,jdbcType=INTEGER}
            </if>
            <if test="failureCode != null">
                and failure_code = #{failureCode,jdbcType=VARCHAR}
            </if>
            <if test="eventDesc != null">
                and event_desc = #{eventDesc,jdbcType=VARCHAR}
            </if>
            <if test="reporter != null">
                and reporter = #{reporter,jdbcType=VARCHAR}
            </if>
            <if test="reporterTel != null">
                and reporter_tel = #{reporterTel,jdbcType=VARCHAR}
            </if>
            <if test="rescueNum != null">
                and rescue_num = #{rescueNum,jdbcType=INTEGER}
            </if>
            <if test="handler != null">
                and handler = #{handler,jdbcType=VARCHAR}
            </if>
            <if test="handlerTel != null">
                and handler_tel = #{handlerTel,jdbcType=VARCHAR}
            </if>
            <if test="rescueCompanyName != null">
                and rescue_company_name = #{rescueCompanyName,jdbcType=VARCHAR}
            </if>
            <if test="dtCreateTime != null">
                and dt_create_time = #{dtCreateTime,jdbcType=TIMESTAMP}
            </if>
            <if test="dtModifyTime != null">
                and dt_modify_time = #{dtModifyTime,jdbcType=TIMESTAMP}
            </if>
            <if test="vCreateUserId != null">
                and v_create_user_id = #{vCreateUserId,jdbcType=VARCHAR}
            </if>
            <if test="vModifyUserId != null">
                and v_modify_user_id = #{vModifyUserId,jdbcType=VARCHAR}
            </if>
        </where>
    </select>

    <!--通过实体不为空的属性作为筛选条件查询单个-->
    <select id="getByEntity" resultMap="TblThirdPartyRuijinEnventResultMap"
            parameterType="com.shmashine.common.entity.TblThirdPartyRuijinEnvent">
        select
        <include refid="table_field"/>
        from tbl_third_party_ruijin_envent
        <where>
            <if test="eventId != null">
                and event_id = #{eventId,jdbcType=VARCHAR}
            </if>
            <if test="eventNumber != null">
                and event_number = #{eventNumber,jdbcType=VARCHAR}
            </if>
            <if test="eventChannel != null">
                and event_channel = #{eventChannel,jdbcType=VARCHAR}
            </if>
            <if test="registerNumber != null">
                and register_number = #{registerNumber,jdbcType=VARCHAR}
            </if>
            <if test="occurTime != null">
                and occur_time = #{occurTime,jdbcType=OTHER}
            </if>
            <if test="currentStatus != null">
                and current_status = #{currentStatus,jdbcType=INTEGER}
            </if>
            <if test="eventType != null">
                and event_type = #{eventType,jdbcType=INTEGER}
            </if>
            <if test="failureCode != null">
                and failure_code = #{failureCode,jdbcType=VARCHAR}
            </if>
            <if test="eventDesc != null">
                and event_desc = #{eventDesc,jdbcType=VARCHAR}
            </if>
            <if test="reporter != null">
                and reporter = #{reporter,jdbcType=VARCHAR}
            </if>
            <if test="reporterTel != null">
                and reporter_tel = #{reporterTel,jdbcType=VARCHAR}
            </if>
            <if test="rescueNum != null">
                and rescue_num = #{rescueNum,jdbcType=INTEGER}
            </if>
            <if test="handler != null">
                and handler = #{handler,jdbcType=VARCHAR}
            </if>
            <if test="handlerTel != null">
                and handler_tel = #{handlerTel,jdbcType=VARCHAR}
            </if>
            <if test="rescueCompanyName != null">
                and rescue_company_name = #{rescueCompanyName,jdbcType=VARCHAR}
            </if>
            <if test="dtCreateTime != null">
                and dt_create_time = #{dtCreateTime,jdbcType=TIMESTAMP}
            </if>
            <if test="dtModifyTime != null">
                and dt_modify_time = #{dtModifyTime,jdbcType=TIMESTAMP}
            </if>
            <if test="vCreateUserId != null">
                and v_create_user_id = #{vCreateUserId,jdbcType=VARCHAR}
            </if>
            <if test="vModifyUserId != null">
                and v_modify_user_id = #{vModifyUserId,jdbcType=VARCHAR}
            </if>
        </where>
    </select>

    <!--通过Id列表作为筛选条件查询列表，列表长度不为0-->
    <select id="listByIds" resultMap="TblThirdPartyRuijinEnventResultMap" parameterType="list">
        select
        <include refid="table_field"/>
        from tbl_third_party_ruijin_envent
        where event_id in
        <foreach item="item" collection="list" separator="," open="(" close=")" index="index">
            #{item}
        </foreach>
    </select>

    <!--新增实体属性不为null的列-->
    <insert id="insert" keyProperty="eventId" useGeneratedKeys="true"
            parameterType="com.shmashine.common.entity.TblThirdPartyRuijinEnvent">
        insert into tbl_third_party_ruijin_envent
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="eventId != null">
                event_id,
            </if>
            <if test="eventNumber != null">
                event_number,
            </if>
            <if test="eventChannel != null">
                event_channel,
            </if>
            <if test="registerNumber != null">
                register_number,
            </if>
            <if test="occurTime != null">
                occur_time,
            </if>
            <if test="currentStatus != null">
                current_status,
            </if>
            <if test="eventType != null">
                event_type,
            </if>
            <if test="failureCode != null">
                failure_code,
            </if>
            <if test="eventDesc != null">
                event_desc,
            </if>
            <if test="reporter != null">
                reporter,
            </if>
            <if test="reporterTel != null">
                reporter_tel,
            </if>
            <if test="rescueNum != null">
                rescue_num,
            </if>
            <if test="handler != null">
                handler,
            </if>
            <if test="handlerTel != null">
                handler_tel,
            </if>
            <if test="rescueCompanyName != null">
                rescue_company_name,
            </if>
            <if test="dtCreateTime != null">
                dt_create_time,
            </if>
            <if test="dtModifyTime != null">
                dt_modify_time,
            </if>
            <if test="vCreateUserId != null">
                v_create_user_id,
            </if>
            <if test="vModifyUserId != null">
                v_modify_user_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="eventId != null">
                #{eventId,jdbcType=VARCHAR},
            </if>
            <if test="eventNumber != null">
                #{eventNumber,jdbcType=VARCHAR},
            </if>
            <if test="eventChannel != null">
                #{eventChannel,jdbcType=VARCHAR},
            </if>
            <if test="registerNumber != null">
                #{registerNumber,jdbcType=VARCHAR},
            </if>
            <if test="occurTime != null">
                #{occurTime,jdbcType=OTHER},
            </if>
            <if test="currentStatus != null">
                #{currentStatus,jdbcType=INTEGER},
            </if>
            <if test="eventType != null">
                #{eventType,jdbcType=INTEGER},
            </if>
            <if test="failureCode != null">
                #{failureCode,jdbcType=VARCHAR},
            </if>
            <if test="eventDesc != null">
                #{eventDesc,jdbcType=VARCHAR},
            </if>
            <if test="reporter != null">
                #{reporter,jdbcType=VARCHAR},
            </if>
            <if test="reporterTel != null">
                #{reporterTel,jdbcType=VARCHAR},
            </if>
            <if test="rescueNum != null">
                #{rescueNum,jdbcType=INTEGER},
            </if>
            <if test="handler != null">
                #{handler,jdbcType=VARCHAR},
            </if>
            <if test="handlerTel != null">
                #{handlerTel,jdbcType=VARCHAR},
            </if>
            <if test="rescueCompanyName != null">
                #{rescueCompanyName,jdbcType=VARCHAR},
            </if>
            <if test="dtCreateTime != null">
                #{dtCreateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="dtModifyTime != null">
                #{dtModifyTime,jdbcType=TIMESTAMP},
            </if>
            <if test="vCreateUserId != null">
                #{vCreateUserId,jdbcType=VARCHAR},
            </if>
            <if test="vModifyUserId != null">
                #{vModifyUserId,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <!--批量新增所有列，列表长度不能为0-->
    <insert id="insertBatch" keyProperty="eventId" useGeneratedKeys="true" parameterType="list">
        insert into tbl_third_party_ruijin_envent
        ( event_id ,event_number, event_channel, register_number, occur_time, current_status, event_type, failure_code,
        event_desc, reporter, reporter_tel, rescue_num, handler, handler_tel, rescue_company_name, dt_create_time,
        dt_modify_time, v_create_user_id, v_modify_user_id)
        values
        <foreach item="item" collection="list" separator="," open="" close="" index="index">
            (#{item.eventId,jdbcType=VARCHAR},#{item.eventNumber,jdbcType=VARCHAR},
            #{item.eventChannel,jdbcType=VARCHAR}, #{item.registerNumber,jdbcType=VARCHAR},
            #{item.occurTime,jdbcType=OTHER}, #{item.currentStatus,jdbcType=INTEGER},
            #{item.eventType,jdbcType=INTEGER}, #{item.failureCode,jdbcType=VARCHAR},
            #{item.eventDesc,jdbcType=VARCHAR}, #{item.reporter,jdbcType=VARCHAR}, #{item.reporterTel,jdbcType=VARCHAR},
            #{item.rescueNum,jdbcType=INTEGER}, #{item.handler,jdbcType=VARCHAR}, #{item.handlerTel,jdbcType=VARCHAR},
            #{item.rescueCompanyName,jdbcType=VARCHAR}, #{item.dtCreateTime,jdbcType=TIMESTAMP},
            #{item.dtModifyTime,jdbcType=TIMESTAMP}, #{item.vCreateUserId,jdbcType=VARCHAR},
            #{item.vModifyUserId,jdbcType=VARCHAR})
        </foreach>
    </insert>

    <!--通过主键修改实体属性不为null的列-->
    <update id="update" parameterType="com.shmashine.common.entity.TblThirdPartyRuijinEnvent">
        update tbl_third_party_ruijin_envent
        <set>
            <if test="eventNumber != null and eventNumber != ''">
                event_number = #{eventNumber,jdbcType=VARCHAR},
            </if>
            <if test="eventChannel != null and eventChannel != ''">
                event_channel = #{eventChannel,jdbcType=VARCHAR},
            </if>
            <if test="registerNumber != null and registerNumber != ''">
                register_number = #{registerNumber,jdbcType=VARCHAR},
            </if>
            <if test="occurTime != null">
                occur_time = #{occurTime,jdbcType=OTHER},
            </if>
            <if test="currentStatus != null">
                current_status = #{currentStatus,jdbcType=INTEGER},
            </if>
            <if test="eventType != null">
                event_type = #{eventType,jdbcType=INTEGER},
            </if>
            <if test="failureCode != null and failureCode != ''">
                failure_code = #{failureCode,jdbcType=VARCHAR},
            </if>
            <if test="eventDesc != null and eventDesc != ''">
                event_desc = #{eventDesc,jdbcType=VARCHAR},
            </if>
            <if test="reporter != null and reporter != ''">
                reporter = #{reporter,jdbcType=VARCHAR},
            </if>
            <if test="reporterTel != null and reporterTel != ''">
                reporter_tel = #{reporterTel,jdbcType=VARCHAR},
            </if>
            <if test="rescueNum != null">
                rescue_num = #{rescueNum,jdbcType=INTEGER},
            </if>
            <if test="handler != null and handler != ''">
                handler = #{handler,jdbcType=VARCHAR},
            </if>
            <if test="handlerTel != null and handlerTel != ''">
                handler_tel = #{handlerTel,jdbcType=VARCHAR},
            </if>
            <if test="rescueCompanyName != null and rescueCompanyName != ''">
                rescue_company_name = #{rescueCompanyName,jdbcType=VARCHAR},
            </if>
            <if test="dtCreateTime != null">
                dt_create_time = #{dtCreateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="dtModifyTime != null">
                dt_modify_time = #{dtModifyTime,jdbcType=TIMESTAMP},
            </if>
            <if test="vCreateUserId != null and vCreateUserId != ''">
                v_create_user_id = #{vCreateUserId,jdbcType=VARCHAR},
            </if>
            <if test="vModifyUserId != null and vModifyUserId != ''">
                v_modify_user_id = #{vModifyUserId,jdbcType=VARCHAR},
            </if>
        </set>
        where event_id = #{eventId,jdbcType=VARCHAR}
    </update>

    <!--通过表字段修改实体属性不为null的列-->
    <update id="updateByField">
        update tbl_third_party_ruijin_envent
        <set>
            <if test="where.eventNumber == null and set.eventNumber != null and set.eventNumber != ''">
                event_number = #{set.eventNumber,jdbcType=VARCHAR},
            </if>
            <if test="where.eventChannel == null and set.eventChannel != null and set.eventChannel != ''">
                event_channel = #{set.eventChannel,jdbcType=VARCHAR},
            </if>
            <if test="where.registerNumber == null and set.registerNumber != null and set.registerNumber != ''">
                register_number = #{set.registerNumber,jdbcType=VARCHAR},
            </if>
            <if test="where.occurTime == null and set.occurTime != null">
                occur_time = #{set.occurTime,jdbcType=OTHER},
            </if>
            <if test="where.currentStatus == null and set.currentStatus != null">
                current_status = #{set.currentStatus,jdbcType=INTEGER},
            </if>
            <if test="where.eventType == null and set.eventType != null">
                event_type = #{set.eventType,jdbcType=INTEGER},
            </if>
            <if test="where.failureCode == null and set.failureCode != null and set.failureCode != ''">
                failure_code = #{set.failureCode,jdbcType=VARCHAR},
            </if>
            <if test="where.eventDesc == null and set.eventDesc != null and set.eventDesc != ''">
                event_desc = #{set.eventDesc,jdbcType=VARCHAR},
            </if>
            <if test="where.reporter == null and set.reporter != null and set.reporter != ''">
                reporter = #{set.reporter,jdbcType=VARCHAR},
            </if>
            <if test="where.reporterTel == null and set.reporterTel != null and set.reporterTel != ''">
                reporter_tel = #{set.reporterTel,jdbcType=VARCHAR},
            </if>
            <if test="where.rescueNum == null and set.rescueNum != null">
                rescue_num = #{set.rescueNum,jdbcType=INTEGER},
            </if>
            <if test="where.handler == null and set.handler != null and set.handler != ''">
                handler = #{set.handler,jdbcType=VARCHAR},
            </if>
            <if test="where.handlerTel == null and set.handlerTel != null and set.handlerTel != ''">
                handler_tel = #{set.handlerTel,jdbcType=VARCHAR},
            </if>
            <if test="where.rescueCompanyName == null and set.rescueCompanyName != null and set.rescueCompanyName != ''">
                rescue_company_name = #{set.rescueCompanyName,jdbcType=VARCHAR},
            </if>
            <if test="where.dtCreateTime == null and set.dtCreateTime != null">
                dt_create_time = #{set.dtCreateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="where.dtModifyTime == null and set.dtModifyTime != null">
                dt_modify_time = #{set.dtModifyTime,jdbcType=TIMESTAMP},
            </if>
            <if test="where.vCreateUserId == null and set.vCreateUserId != null and set.vCreateUserId != ''">
                v_create_user_id = #{set.vCreateUserId,jdbcType=VARCHAR},
            </if>
            <if test="where.vModifyUserId == null and set.vModifyUserId != null and set.vModifyUserId != ''">
                v_modify_user_id = #{set.vModifyUserId,jdbcType=VARCHAR},
            </if>
        </set>
        <where>
            <if test="where.eventId != null">
                and event_id = #{where.eventId,jdbcType=VARCHAR}
            </if>
            <if test="where.eventNumber != null">
                and event_number = #{where.eventNumber,jdbcType=VARCHAR}
            </if>
            <if test="where.eventChannel != null">
                and event_channel = #{where.eventChannel,jdbcType=VARCHAR}
            </if>
            <if test="where.registerNumber != null">
                and register_number = #{where.registerNumber,jdbcType=VARCHAR}
            </if>
            <if test="where.occurTime != null">
                and occur_time = #{where.occurTime,jdbcType=OTHER}
            </if>
            <if test="where.currentStatus != null">
                and current_status = #{where.currentStatus,jdbcType=INTEGER}
            </if>
            <if test="where.eventType != null">
                and event_type = #{where.eventType,jdbcType=INTEGER}
            </if>
            <if test="where.failureCode != null">
                and failure_code = #{where.failureCode,jdbcType=VARCHAR}
            </if>
            <if test="where.eventDesc != null">
                and event_desc = #{where.eventDesc,jdbcType=VARCHAR}
            </if>
            <if test="where.reporter != null">
                and reporter = #{where.reporter,jdbcType=VARCHAR}
            </if>
            <if test="where.reporterTel != null">
                and reporter_tel = #{where.reporterTel,jdbcType=VARCHAR}
            </if>
            <if test="where.rescueNum != null">
                and rescue_num = #{where.rescueNum,jdbcType=INTEGER}
            </if>
            <if test="where.handler != null">
                and handler = #{where.handler,jdbcType=VARCHAR}
            </if>
            <if test="where.handlerTel != null">
                and handler_tel = #{where.handlerTel,jdbcType=VARCHAR}
            </if>
            <if test="where.rescueCompanyName != null">
                and rescue_company_name = #{where.rescueCompanyName,jdbcType=VARCHAR}
            </if>
            <if test="where.dtCreateTime != null">
                and dt_create_time = #{where.dtCreateTime,jdbcType=TIMESTAMP}
            </if>
            <if test="where.dtModifyTime != null">
                and dt_modify_time = #{where.dtModifyTime,jdbcType=TIMESTAMP}
            </if>
            <if test="where.vCreateUserId != null">
                and v_create_user_id = #{where.vCreateUserId,jdbcType=VARCHAR}
            </if>
            <if test="where.vModifyUserId != null">
                and v_modify_user_id = #{where.vModifyUserId,jdbcType=VARCHAR}
            </if>
        </where>
    </update>

    <!--通过主键修改实体列表，列表长度不能为0，注意：当实体属性为null时，对应的列也会别更新为null-->
    <update id="updateBatch" parameterType="list">
        update tbl_third_party_ruijin_envent
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="event_number = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when event_id = #{item.eventId} then #{item.eventNumber}
                </foreach>
            </trim>
            <trim prefix="event_channel = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when event_id = #{item.eventId} then #{item.eventChannel}
                </foreach>
            </trim>
            <trim prefix="register_number = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when event_id = #{item.eventId} then #{item.registerNumber}
                </foreach>
            </trim>
            <trim prefix="occur_time = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when event_id = #{item.eventId} then #{item.occurTime}
                </foreach>
            </trim>
            <trim prefix="current_status = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when event_id = #{item.eventId} then #{item.currentStatus}
                </foreach>
            </trim>
            <trim prefix="event_type = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when event_id = #{item.eventId} then #{item.eventType}
                </foreach>
            </trim>
            <trim prefix="failure_code = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when event_id = #{item.eventId} then #{item.failureCode}
                </foreach>
            </trim>
            <trim prefix="event_desc = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when event_id = #{item.eventId} then #{item.eventDesc}
                </foreach>
            </trim>
            <trim prefix="reporter = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when event_id = #{item.eventId} then #{item.reporter}
                </foreach>
            </trim>
            <trim prefix="reporter_tel = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when event_id = #{item.eventId} then #{item.reporterTel}
                </foreach>
            </trim>
            <trim prefix="rescue_num = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when event_id = #{item.eventId} then #{item.rescueNum}
                </foreach>
            </trim>
            <trim prefix="handler = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when event_id = #{item.eventId} then #{item.handler}
                </foreach>
            </trim>
            <trim prefix="handler_tel = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when event_id = #{item.eventId} then #{item.handlerTel}
                </foreach>
            </trim>
            <trim prefix="rescue_company_name = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when event_id = #{item.eventId} then #{item.rescueCompanyName}
                </foreach>
            </trim>
            <trim prefix="dt_create_time = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when event_id = #{item.eventId} then #{item.dtCreateTime}
                </foreach>
            </trim>
            <trim prefix="dt_modify_time = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when event_id = #{item.eventId} then #{item.dtModifyTime}
                </foreach>
            </trim>
            <trim prefix="v_create_user_id = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when event_id = #{item.eventId} then #{item.vCreateUserId}
                </foreach>
            </trim>
            <trim prefix="v_modify_user_id = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when event_id = #{item.eventId} then #{item.vModifyUserId}
                </foreach>
            </trim>
        </trim>
        where event_id in
        <foreach collection="list" index="index" item="item" separator="," open="(" close=")">
            #{item.eventId,jdbcType=VARCHAR}
        </foreach>
    </update>

    <update id="repairOrderInfoSupplement">
        update tbl_third_party_ruijin_envent
        set complete_description = #{description},
            supplement_status    = 1
        where register_number = #{registerNumber,jdbcType=VARCHAR}
          AND supplement_status = 0
          AND occur_time = #{reportTime,jdbcType=OTHER}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById" parameterType="java.lang.String">
        delete
        from tbl_third_party_ruijin_envent
        where event_id = #{eventId,jdbcType=VARCHAR}     </delete>

    <!--通过实体非空属性删除-->
    <delete id="deleteByEntity" parameterType="com.shmashine.common.entity.TblThirdPartyRuijinEnvent">
        delete from tbl_third_party_ruijin_envent
        <where>
            <if test="eventNumber != null">
                and event_number = #{eventNumber,jdbcType=VARCHAR}
            </if>
            <if test="eventChannel != null">
                and event_channel = #{eventChannel,jdbcType=VARCHAR}
            </if>
            <if test="registerNumber != null">
                and register_number = #{registerNumber,jdbcType=VARCHAR}
            </if>
            <if test="occurTime != null">
                and occur_time = #{occurTime,jdbcType=OTHER}
            </if>
            <if test="currentStatus != null">
                and current_status = #{currentStatus,jdbcType=INTEGER}
            </if>
            <if test="eventType != null">
                and event_type = #{eventType,jdbcType=INTEGER}
            </if>
            <if test="failureCode != null">
                and failure_code = #{failureCode,jdbcType=VARCHAR}
            </if>
            <if test="eventDesc != null">
                and event_desc = #{eventDesc,jdbcType=VARCHAR}
            </if>
            <if test="reporter != null">
                and reporter = #{reporter,jdbcType=VARCHAR}
            </if>
            <if test="reporterTel != null">
                and reporter_tel = #{reporterTel,jdbcType=VARCHAR}
            </if>
            <if test="rescueNum != null">
                and rescue_num = #{rescueNum,jdbcType=INTEGER}
            </if>
            <if test="handler != null">
                and handler = #{handler,jdbcType=VARCHAR}
            </if>
            <if test="handlerTel != null">
                and handler_tel = #{handlerTel,jdbcType=VARCHAR}
            </if>
            <if test="rescueCompanyName != null">
                and rescue_company_name = #{rescueCompanyName,jdbcType=VARCHAR}
            </if>
            <if test="dtCreateTime != null">
                and dt_create_time = #{dtCreateTime,jdbcType=TIMESTAMP}
            </if>
            <if test="dtModifyTime != null">
                and dt_modify_time = #{dtModifyTime,jdbcType=TIMESTAMP}
            </if>
            <if test="vCreateUserId != null">
                and v_create_user_id = #{vCreateUserId,jdbcType=VARCHAR}
            </if>
            <if test="vModifyUserId != null">
                and v_modify_user_id = #{vModifyUserId,jdbcType=VARCHAR}
            </if>
        </where>
    </delete>

    <!--通过主键列表删除，列表长度不能为0-->
    <delete id="deleteByIds" parameterType="list">
        delete from tbl_third_party_ruijin_envent where event_id in
        <foreach item="item" collection="list" separator="," open="(" close=")" index="index">
            #{item}
        </foreach>
    </delete>

    <select id="countAll" resultType="int">
        select count(event_id)
        from tbl_third_party_ruijin_envent
    </select>

    <select id="countByEntity" parameterType="com.shmashine.common.entity.TblThirdPartyRuijinEnvent" resultType="int">
        select count(event_id) from tbl_third_party_ruijin_envent
        <where>
            <if test="eventId != null">
                and event_id = #{eventId,jdbcType=VARCHAR}
            </if>
            <if test="eventNumber != null">
                and event_number = #{eventNumber,jdbcType=VARCHAR}
            </if>
            <if test="eventChannel != null">
                and event_channel = #{eventChannel,jdbcType=VARCHAR}
            </if>
            <if test="registerNumber != null">
                and register_number = #{registerNumber,jdbcType=VARCHAR}
            </if>
            <if test="occurTime != null">
                and occur_time = #{occurTime,jdbcType=OTHER}
            </if>
            <if test="currentStatus != null">
                and current_status = #{currentStatus,jdbcType=INTEGER}
            </if>
            <if test="eventType != null">
                and event_type = #{eventType,jdbcType=INTEGER}
            </if>
            <if test="failureCode != null">
                and failure_code = #{failureCode,jdbcType=VARCHAR}
            </if>
            <if test="eventDesc != null">
                and event_desc = #{eventDesc,jdbcType=VARCHAR}
            </if>
            <if test="reporter != null">
                and reporter = #{reporter,jdbcType=VARCHAR}
            </if>
            <if test="reporterTel != null">
                and reporter_tel = #{reporterTel,jdbcType=VARCHAR}
            </if>
            <if test="rescueNum != null">
                and rescue_num = #{rescueNum,jdbcType=INTEGER}
            </if>
            <if test="handler != null">
                and handler = #{handler,jdbcType=VARCHAR}
            </if>
            <if test="handlerTel != null">
                and handler_tel = #{handlerTel,jdbcType=VARCHAR}
            </if>
            <if test="rescueCompanyName != null">
                and rescue_company_name = #{rescueCompanyName,jdbcType=VARCHAR}
            </if>
            <if test="dtCreateTime != null">
                and dt_create_time = #{dtCreateTime,jdbcType=TIMESTAMP}
            </if>
            <if test="dtModifyTime != null">
                and dt_modify_time = #{dtModifyTime,jdbcType=TIMESTAMP}
            </if>
            <if test="vCreateUserId != null">
                and v_create_user_id = #{vCreateUserId,jdbcType=VARCHAR}
            </if>
            <if test="vModifyUserId != null">
                and v_modify_user_id = #{vModifyUserId,jdbcType=VARCHAR}
            </if>
        </where>
    </select>

    <select id="getNeedSupplementElevaotr" resultType="java.util.Map">
        SELECT register_number                          AS registerNumber,
               max(DATE_FORMAT(occur_time, '%Y-%m-%d')) AS endTime,
               MIN(DATE_FORMAT(occur_time, '%Y-%m-%d')) AS startTime
        FROM tbl_third_party_ruijin_envent
        WHERE supplement_status = 0
        GROUP BY register_number
    </select>


</mapper>