<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shmashine.sender.dao.BizExternalPushDao">
    <!-- 屏蔽规则查询列表 -->
    <select id="getSendPtCodesByElevatorCodeAndFaultType" resultType="java.lang.String">
        select distinct(`v_pt_code`)
        from tbl_fault_send_shiled
        where v_elevator_code = #{elevatorCode}
          and v_fault_type = #{faultType}
          and i_is_report = 1
    </select>
</mapper>