<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shmashine.sender.dao.TblFaultDao">

    <!-- 根据电梯获取实时故障 -->
    <select id="getFaultTypeByElevatorCode" resultType="java.lang.String">
        select i_fault_type
        from tbl_fault fault
        where v_elevator_code = #{elevatorCode}
          and i_status = 0
    </select>

</mapper>