<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shmashine.cameratysl.dao.TblCameraMapper">
    <sql id="TABLE_NAME">
        tbl_camera
    </sql>

    <sql id="ALL_COLUMNS">
        v_camera_id
        AS cameraId, v_elevator_id AS elevatorId, v_elevator_code AS elevatorCode,
        i_camera_type AS cameraType, v_serial_number AS serialNumber, v_username AS username,
        v_password AS password, v_cloud_number AS cloudNumber, v_hls_url AS hlsUrl, v_rtmp_url AS rtmpUrl,
        v_private_url AS privateUrl, device_code AS deviceCode, v_is_activate AS activate, online_status AS onlineStatus,
        i_del_flag AS delFlag
    </sql>

    <update id="updateCameraStatus">
        UPDATE
        <include refid="TABLE_NAME"/>
        SET online_status = #{entity.status}, dt_modify_time = NOW()
        where v_cloud_number = #{entity.serialNumber} OR v_elevator_code = #{entity.deviceName}
    </update>

    <!-- 摄像头信息 -->
    <!--<select id="getCameraInfoById" resultType="com.shmashine.hikYunMou.entity.TblCameraEntity">
        SELECT <include refid="ALL_COLUMNS" />
        FROM <include refid="TABLE_NAME" />
        WHERE v_camera_id = #{cameraId}
    </select>-->

    <select id="getCameraInfoByElevatorCode" resultType="com.shmashine.common.dto.TblCameraDTO">
        SELECT
        <include refid="ALL_COLUMNS"/>
        FROM
        <include refid="TABLE_NAME"/>
        WHERE
        v_elevator_code = #{elevatorCode}
    </select>

    <select id="getCameraInfoByCloudNumber" resultType="com.shmashine.common.dto.TblCameraDTO">
        SELECT
        <include refid="ALL_COLUMNS"/>
        FROM
        <include refid="TABLE_NAME"/>
        WHERE
        v_cloud_number = #{cloudNumber} and i_camera_type = #{cameraType} and i_del_flag = 0
    </select>


    <select id="listCamerasByCameraType" resultType="com.shmashine.common.dto.TblCameraDTO">
        SELECT
        <include refid="ALL_COLUMNS"/>
        FROM
        <include refid="TABLE_NAME"/>
        WHERE
        i_camera_type = #{cameraType} AND v_elevator_code IS NOT NULL AND v_cloud_number IS NOT NULL
    </select>
</mapper>